.bg-gradiant{
    background-color: rgb(95, 163, 107); 
}
.rounded-lg-3{
    border-radius: 50%;
}

.gradient-background{
    background-color:rgb(187, 249, 198);
}

.col-lg-6{
    color: rgb(52, 103, 62);  
}

